.DS_Store
.idea

.vscode
!.vscode/extensions.json
.yarn
.env.dev
.env.yarn
*.local
*.tsbuildinfo

# Node dependencies
/node_modules

# Playwright reports and artifacts
/playwright-report/
/blob-report/
/test-results/
last-run.json

# Local files
eror
context.md
